<lib name='jquery'/>
<h1>语言翻译</h1>
<form method="post">
<div >
	<select class='langselect'>
		<foreach for='$arrLangSelectMenu' key='country_lang' item='content'>
			<if "{=$sSpath}!=null">
				<option value="{=$country_lang}" {=$country_lang==$sSpath ? 'selected' : ''} >{=$content['title']}</option>	
				<else/>
				<option value="{=$country_lang}" {=$content['selected']==1 ? 'selected' : ''} >{=$content['title']}</option>	
			</if>
		</foreach>
	</select>
</div>
	<br/><br/>
<div style="margin-left:50px">
	<foreach for='$arrLangTranslation' key='country_lang' item='sentenceLibraries'>
		<foreach for='$sentenceLibraries' key='type' item='sentenceLibrary'>
			{=$type}语言包:<br/>
			<foreach for='$sentenceLibrary' key='hash' item='value'>
				<textarea name="TranslationSentence[{=$country_lang.'@'.$type.'@'.$hash}]" style="width:50%;height:5%">{=$value}</textarea><br/>
			</foreach>
			<br/>
		</foreach>
	</foreach>
	<div style="margin-left:45%"><input type="submit" value="提交"/></div>
	<foreach for='$arrPage' key='page' item='numberRow'>
		<a href="?c=org.opencomb.localizer.LangTranslation&spath={=$sLangCountry}&rownumber={=$numberRow}&selectpage=1">第{=$page}页</a>
	</foreach>
</div>
</form>
<script>
jquery(function(){
	jquery('.langselect').change(function(){
		window.location.href='/?c=org.opencomb.localizer.LangTranslation&spath=' + jquery(this).val();
	});
});

function swichlang(country_lang){
	jQuery.ajax({
		url : "?c=org.opencomb.localizer.LangSelectDefault&dpath="+country_lang,
		success : function(){
			location.reload() ;  //刷新页面直接看结果
		}
	});
}

function dd(){
	document.getElementById("sec").innerHTML="ddd";
}
</script>