<lib name='jquery'/>
<span class='langselect'>
		<select class='langSelectSwich'>
			<foreach for='$theWidget->langIterator()' key='country_lang' item='content'>
				<option value="{=$country_lang}" {=$theWidget->setCurrentLang()==$country_lang ? 'selected' : ''}>{=$content['title']}</option>
			</foreach>
		</select>
</span>
<script>
jquery(function(){
	jquery('.langSelectSwich').change(function(){
		window.location.href='/?c=org.opencomb.localizer.LangSwich&langnew=' + jquery(this).val()+'&langold={=$theWidget->selectedLangCountry()}'+'&swichLangPageUrl={/*.url}';
	});
});
</script>